<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049938421616-cfbbd8rq8omf6052ilrnnvjh2tv8k7uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049938421616-cfbbd8rq8omf6052ilrnnvjh2tv8k7uj</string>
	<key>API_KEY</key>
	<string>AIzaSyDbbCe8Tndced4YdYbvQMESxi45W6I8pCc</string>
	<key>GCM_SENDER_ID</key>
	<string>1049938421616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFullLearn</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049938421616:ios:0a0340ad1a8928d771d1b5</string>
</dict>
</plist>
